@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
}
header {
  display: flex;
  justify-content: center;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  background: #070211;
  display: flex;
  justify-content: center;
}
.header-container {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");
  background-size: 100% 100%;
  margin: 40px auto;
  border-radius: 12px;
}
.header-title {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.small-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 25px;
  font-weight: 400;
}
.big-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 57px;
  font-weight: 900;
  line-height: 76px;
}
.header-title {
  padding: 140px 275px;
}
.discount-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 207px;
  justify-content: center;
  margin: 56px auto;
}
.discount-amount-heading {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 70px;
  font-weight: 700;
}
.discount-heading-quality {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin: 24px 0px 13px 0px;
}
.discount-catagory {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 38px;
  margin-bottom: 38px;
  font-weight: 700;
}
.dicount-section-img img {
  width: 100%;
}
.party-section-container {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Vectorrr.png");
  background-size: cover;
  border-radius: 13px;
  margin: 40px auto;
}
.party-container {
  display: flex;
  flex-direction: row;
}

.party-container-info p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.party-container-info h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 51px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 5.5px;
}
.party-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 54px 135px;
  gap: 30px;
}
.party-container-info button {
  color: white;
  font-family: Inter;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
}
.party-container-info button:hover{
  background-color: #6117a1;
  transition-duration: 500ms;
}
.party-container-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
.party-container-img img {
  width: 100%;
  /* width: ; */
}
.event-main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 56px auto;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 13px;
}
.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  padding: 80px 308px 100px 308px;
}
.event-time-date h3 {
  color: #070211;
  font-family: Inter;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 45px;
}
.event-time-date span {
  color: #f00;
  font-family: Inter;
}
.event-container-button button {
  border-radius: 8px;
  border: none;
  background: #f00;
  padding: 13px 25px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}
.offer-container {
  display: flex;
  justify-content: space-between;
  gap: 56px;
  margin: 40px auto;
}

.offer-heading-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offer-heading-section p {
  color: rgba(7, 2, 17, 0.6);
  width: 330px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.offer-heading-section h3 {
  color: #f00;
  font-family: Inter;
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 500;
}
.offer-heading-section h1 {
  color: #070211;
  font-family: Merriweather;
  margin-bottom: 18px;
  font-size: 38px;
  font-weight: 900;
}
.offer-footer-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 38px;
}
.offer-footer-section h1 {
  color: #f00;
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 13px;
}
.offer-footer-section p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 43px;
  line-height: 25px;
}
.offer-img-section {
  border-radius: 370px;
  border: 12px solid #f00;
}

.offer-img-section img {
  padding: 40px;
}
.holiday-offer-img-section {
  height: 530px;
  max-width: 1056px;
  position: absolute;
}
.holiday-offer-header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.holiday-offer-header-section h4 {
  color: #070211;
  font-family: Inter;
  margin-bottom: 13px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.holiday-offer-header-section h1 {
  color: #f00;
  text-align: center;
  margin-bottom: 22px;
  font-family: Merriweather;
  font-size: 58px;
  font-weight: 900;
}
.holiday-offer-header-section p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
  width: 850px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.main-img-section {
  height: 530px;
  width: 1216px;
}
.img-section1 {
  background-image:  url("resources/Rectangle\ 1.png"), url("resources/Rectangle\ 2.png");
  background-size:   345px 345px, 100% 190px;
  background-repeat:   no-repeat,no-repeat;
  background-position:  right top,left bottom;
  position: relative;
}
.overlaping-img {
  position: absolute;
  right: 18%;
  top: 10%;
}
.box-img{
  height: 530px;
  width: 637px;
}
.overlaping-img img{
  height: 245px;
  width: 245px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 96px 112px;
}
.address-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.address p {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.caller-web-link a {
  color: #fff;
  text-decoration: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.caller-web-link img {
  width: 24px;
  height: 24px;
  padding-right: 12px;
}
.social-link-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.social-link-section img {
  width: 50px;
  height: 50px;
  margin: 38px 0px 38px 0px;
}
.copyright-section p {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.copyright-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.copyright-section button {
  background-color: transparent;
  border: none;
}
.copyright-section button > a {
  color: #fff;
  text-decoration: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
hr {
  border: 0.8px solid rgba(255, 255, 255, 0.15);
}
.subscribe-section {
  border-radius: 13px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 96px 0;
  padding: 64px 0;
}
.subscribe-section-img img {
  width: 120px;
  margin-bottom: 32px;
  height: 120px;
}
.subscribe-section-heading {
  color: #070211;
  text-align: center;
  margin-bottom: 18px;
  font-family: Merriweather;
  font-size: 38px;
  font-weight: 900;
}
.subscribe-section-info {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  margin-bottom: 38px;
  padding: 0px 170px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.subscribe-form input {
  padding: 20px 380px 20px 24px;
  border-radius: 40px 0 0 40px;
  border: none;
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: Inter;
  margin-right: 0;
  font-size: 16px;
  font-weight: 400;
}
.subscribe-form button,
.subscribe-form a {
  padding: 20px 24px;
  border-radius: 0 40px 40px 0;
  text-decoration: none;
  border: none;
  margin-left: 0;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
}
.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
}
.portfolio-section img {
  width: 100%;
  height: 100%;
}
.portfolio-section .image {
  margin-bottom: 18px;
  margin-right: 18px;
}
.img-line1,
.img-line2 {
  display: flex;
}
.image:hover {
  scale: calc(1.05);
  transition-duration: 500ms;
}
.portfolio-section p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 38px;
}
.portfolio-section .heading {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.heading h3 {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  margin-bottom: 13px;
  font-weight: 500;
}
.heading h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 38px;
  margin-bottom: 18px;
  font-weight: 900;
}
